<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/1107318487044608081/1128546957472833556/image_3.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/amigos.css') }}">
    <title>amiguitos</title>
</head>
<body>
    <div class="container" id="container" style="display: block;">
        <h1>amiguitos</h1>
        <div class="member">
            <div class="member-card honored">
                <img src="{{ avatar }}" alt="Eu mesmo">
                <h3>worstsins</h3>
                <p>Nada melhor que eu ser amigo de mim mesmo.</p>
            </div>


        </div>
    </div>
</body>
</html>
